@{
    ViewBag.Title = "Home Page";
}



<table class="ui basic table" style="margin-top:6%">
    <tbody>
        <tr>
            <td>Фамилия</td>
            <th><input class="text"></th>
        </tr>
        <tr>
            <td>Имя</td>
            <th><input class="text"></th>
        </tr>
        <tr>
            <td>Отчество</td>
            <th><input class="text"></th>
        </tr>
        <tr>
            <td>Дата Рождения</td>
            <th><input class="date"></th>
        </tr>
        <tr>
            <td>Пол</td>
            <th>
                <div class="ui form">
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency" checked="checked">
                                <label>Мужской</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>Женский</label>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>

        <tr>
            <td>Серия паспорта</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Идент. номер</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>№ паспорта</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Кем выдан</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Дата выдачи</td>
            <th><input class="date"></th>
        </tr>

        <tr>
            <td>Место рождения</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Город факт. проживания</td>
            <th><input class="text"></th>
        </tr>
        <tr>
            <td>Адрес факт.проживания</td>
            <th><input class="text"></th>
        </tr>
        <tr>
            <td>Телефон домашний</td>
            <th><input class="text"></th>
        </tr>
        <tr>
            <td>Телефон мобильный</td>
            <th><input class="text"></th>
        </tr>
        <tr>
            <td>E-mail</td>
            <th><input class="text"></th>
        </tr>
        
        <tr>
            <td>Место работы</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Должность</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Город прописки</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Адрес прописки</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Семейное положение</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Гражданство</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Инвалидность</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Пенсионер</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Ежемесячный доход</td>
            <th><input class="text"></th>
        </tr>

        <tr>
            <td>Военнообязанный</td>
            <th><input class="text"></th>
        </tr>
    </tbody>
</table>